{
  "presets": [
    "@babel/preset-env",
    //runtime: "automatic": This option refers to the new JSX transform introduced in React 17.
    // It allows for several improvements and optimizations over the previous JSX transform,
    // which required the explicit import of React in every file that used JSX.
    ["@babel/preset-react", { "runtime": "automatic" }],
    "@babel/preset-typescript"
  ]
}
